
<h1>Welcome to Bulletin_Board,  <%= @user.name%></h1>
<p>Your username is <%= @user.name%></p>
<%= edit_password_reset_url(@user.password_reset_token) %>
 
 Click the link and reset password
 Thanks for joining and have a great day!