* {
    padding: 0;
    margin: 0;
}
h1 {
   
}
a {
    display: block;
    color:#00d2ff;
    text-decoration: none;
    margin-bottom: 35px;
}
a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.login-header {
    color: white;
    font-size: 22px;
    padding: 10px;
    background-color: #00693e;

}
.login-header h1{
    font-size: 22px;
}
form {
    margin: 0 auto;
    width: 585px;
    margin-top: 15px;
}
label {
    font-size: 18px;
}
.list-btn {
    display: inline-block;
}
.list-form {
    display: inline;
}
.list-form .list-input {
    width: 208px !important;
    padding: 8px;
    margin-right: 20px;
}
.list-btn-group {
    float: right;
}
.list-form .list-btn {
    padding: 10px 26px;
}
.list-btn:hover {
    text-decoration: none;
}
table {
    width: 100%;
}
.register-form {
    margin: 0 auto;
    width: 800px;
}
.create-form {
    margin-top: 60px;
}
.input-group {
    margin-top: 10px;
}
.validation-error {
    color: #d9534f;
}
.login-validation {
    margin: 7px auto 17px;
    width: 331px;
}
.errors {
    color: #000;
    padding: 10px;
    background-color: #F1C2C0;
    font-weight: 500;
    border-radius: 4px;
}
.success {
    color: #fff;
    background-color: #5cb85c;
    font-weight: 500;
    border-radius: 4px;
    padding: 10px;
}
a:hover {
    text-decoration: none;
}
.cancle-btn {
    display: inline-block !important;
    color: #fff;
    border: 1px solid transparent;
    background-color: #9FA6B2;
    padding: 8px 24px;
    border-radius: 4px;
}
.cancle-btn:hover {
    color: #9FA6B2;
    border: 1px solid #9FA6B2;
    background-color: #fff;
    text-decoration: none;
}
label {
    margin-right: 10px;
}
tr td:first-child {
    text-align: right;
}
table tr {
    margin: 15px 0;
}
tr input {
    width: 350px;
    padding: 10px;
    margin-bottom: 0px;
}
.input-group input {
    width: 411px;
    padding: 10px;
}
.input-group.btn-group {
    margin-left: 118px;
}
.input-group.register-btn-group {
    text-align: left;
}
input[type="checkbox"]{
    width: 20px;
    float: left;
    margin-left: 0px;
}
.forget-password {
    float: right;
    margin-bottom: 9px;
    margin-right: 25px;
    color: #3B71CA;
    font-size: 18px;
}
.create-account {
  display: inline-block;
  color: #3B71CA;
  font-size: 18px;
}
.user-icon {
  color: #3B71CA;
}
.login-btn {
    width: 444px;
    background-color: #00693e;
    color: #fff;
    padding: 9px 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 9px;
}
.login-btn:hover {
    background-color: #fff;
    color: #00693e;
    border: 1px solid #00693e;
}
.password-label {
    margin-right: 46px;
}
.register-btn {
    padding: 8px 24px;
    background-color: #3B71CA;
    color: #fff;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
}
.edit-btn {
    padding: 7px 24px;
    background-color: #3B71CA;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    display: inline-block;
    margin-top: 22px;
}
.modal-form {
  margin: 0 auto;
  width: 100% !important;
  margin-top: 15px;

}
.modal-body > p {
  
  text-align: left;
  font-size: 19px;
  font-weight: 500;
  margin-top: 5px;

}
.delete-modal-btn {
  background-color: rgb(199, 61, 61);
}
.edit-confirm-btn {
    width: 94px !important;
    margin-top: 0px;
}
.edit-input {
    margin-top: 10px;
}
.register-btn.edit-btn {
    padding: 10px 24px;
}
.edit-btn:hover {
    background-color: #fff;
    color: #3B71CA;
    border: 1px solid #3B71CA;
}

.edit-btn:hover, .delete-btn:hover {
    text-decoration: none;

}
.delete-btn {
    padding: 7px 24px;
    background-color: #d9534f;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    display: inline-block;
}
.delete-btn:hover {
    background-color: #fff;
    color: #d9534f;
    border: 1px solid #d9534f;
}
.register-btn:hover {
    color: #3B71CA;
    background-color: #fff;
    border: 1px solid #3B71CA;
}
.table-btn-group {
  margin-top: 14px;
}
.clear-btn {
    color: #fff;
    border: 1px solid transparent;
    background-color: #9FA6B2;
    padding: 7px 24px;
    border-radius: 4px;
    display: inline-block;
}
.clear-btn:hover {
    color: #9FA6B2;
    border: 1px solid #9FA6B2;
    background-color: #fff;
    text-decoration: none;
}
.login-link {
    font-size: 23px;
    display: inline-block;
    margin-left: 12px
}
.post-table {
    border-collapse: collapse;
   
}
.post-title {
    
    margin: 0;
}
.post-title:hover {
    // text-decoration: none;
}
.post-table tr {
    border-bottom: 1px solid #000;
}
.post-table tr td {
    text-align: center;
}
.post-table thead {
    background-color: #5bc0de;
    height: 52px;
    color: #fff;
    font-weight: 900;
}

/** toggle switch **/
.switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 22px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* The Modal (background) */
.myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 95%;
    max-width: 60rem;
    max-height: 33rem;
    overflow: hidden;
    border-radius: 2px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  
    font-family: "Open Sans", sans-serif;
    background: #fff;
    -webkit-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.08);
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal-content-left,
  .modal-content-right {
    flex: 0 1 auto;
  }
  
  .modal-content-left {
    flex: 2;
  }
  
 
  .modal-content-right {
    flex: 2;
    max-width: 100%;
    padding: 1rem 3rem;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  
  /* The Close Button */
  #close,
  .close-imp {
    color: #aaa;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 1rem;
    border-radius: 2px;
    transition: 0.4s ease-out;
  }
  
  .close:hover,
  .close:focus,
  .close-imp:hover,
  .close-imp:focus {
    color: #111;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 27px;
    padding: 0 0 18px;
    border-bottom: 0.5px solid #000;
  }
  .modal-table {
    padding: 16px;
  }
  .modal-table tr td:first-child {
    font-weight: 700;
    padding: 10px;
  }
  .profile-image-container {
    padding-top: 23px;
  }
  .profile-table {
    padding: 10px;
    width: 350px;
  }
  .profile-edit-btn {
    width: 75px;
    margin-left: 16px;
    background-color: #3B71CA;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    border: 1px solid transparent;
  }
  .profile-edit-btn:hover {
    color: #3B71CA;
    background-color: #fff;
    border: 1px solid #3B71CA;
  }
  .profile-table tr td:first-child {
    text-align: left;
    font-weight: 700;
  }
  .change-password-link {
    display: inline-block;
  }
  .modal-table tr td:last-child {
    color: #d9534f;
  }
  .user-modal-table tr td:last-child {
    color: #232323;
  }
  .profile-table tr td:last-child {
    color: #232323;
  }
  .delete-txt {
    color: #d9534f;
  }
  .detail-close {
    float: right;
  }
  .modal-header p {
    margin: 0;
    padding: 0;
  }
  
  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 0.5rem 3rem;
  }
  
  .modal-header {
    padding-top: 2rem;
  }
  
  .modal-footer {
    padding-bottom: 2rem;
  }
  
  /* ===== Page Content ===== */
  
  h1 {
  }
  
  .container {
    width: 100%;
  }
  
  /* The Button */
  
  .btn {
    display: block;
    background: #222;
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid #222;
    font-size: 2rem;
    margin: 3rem auto;
    transition: all 0.4s ease-in;
  }
  
  .btn:hover {
    cursor: pointer;
    color: #222;
    background: #fff;
  }

  nav {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #D3D3D330;
  }
  
  nav ul li {
    display: inline-block;
    padding-top: 0px;
    margin: 0 8px;
  }
  nav ul li a {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    font-size: 22px;
    color: #00693e;
    font-weight: 700;
  }
  nav ul li:last-child {
    margin: 0;
  }
  nav .left-nav {
  
  }
  nav .right-nav {
    padding-right: 17px;
  }
  nav .right-nav .setting-icon {
    padding-right: 13px;
    font-size: 23px;
    padding-left: 4px;
    color: #00693e;
  }
  nav form {
    display: flex;
    align-items: center;
  }
  
  nav input[type="search"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 14px;
    width: 200px;
  }
  
  nav button[type="submit"] {
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  nav button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  #dropdown-menu {
    display: none;
    padding: 0px 5px;
    text-decoration: none;
    position: absolute;
    right: 9px;
    top: 51px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 212px;
    border-radius: 5px;
  }
  #dropdown-menu.show-menu {
    display: block;
  }
  #dropdown-menu a {
    margin: 15px;
  }
  .import-class {
    border: 1px solid #dee1ec;
    padding: 0;
  }
  .import-class::file-selector-button {
    font-weight: bold;
    color: #000;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 3px;
}
// User
.user-input {
  width: 200px !important;
  margin-right: 7px;
}
.user-list {
  padding: 20px 30px 28px;
}
.user-btn-group {
  padding-top: 29px;
}
.user-search-btn {
  padding: 11px 35px !important;
}
.user-profile::file-selector-button {
  font-weight: bold;
  color: #000;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 3px;
}
.user-profile {
  border: 1px solid #dee1ec;
  padding: 0;
  width: 371px;
}
.user-register input {
  margin: 6px 0;
}
.user-clear-btn {
  padding: 8px 32px !important;
}
#type {
  padding: 10px 6px 10px;
  width: 69%;
}
.user-modal {
  padding-top: 35px !important;
}
.user-modal-content {
  max-height: 36rem !important;
}
.user-delete-modal {
  padding-top: 48px;
}
.img-responsive {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin: 10px 0;
}
.profile-container {
  display: flex;
  justify-content: center;
}
.profile-role {
  width: 374px;
  padding: 10px;
}
.profile-clear-btn {
  padding: 8px 22px !important;
}
.password-change-btn {
  width: fit-content !important;
}
.password-change-form tr input{
  margin: 10px 0;
}
//Pagniation 
.pagination {
  display: flex;
  justify-content: end;
  margin-top: 5px;
  padding: 0;
}

/* Define the style for the pagination links */
.pagination a, .pagination em, .pagination span {
  display: block;
  padding: 10px 15px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  text-decoration: none;
  height: 20px;
}

/* Define the style for the active pagination link */
.pagination .current {
  background-color: #337ab7;
  color: #fff;
  border-color: #337ab7;
  height: 22px;
}

/* Define the style for the disabled pagination links */
.pagination .disabled a {
  color: #ccc;
  border-color: #ddd;
  cursor: not-allowed;
}
//  Footer
footer {
  position: relative;
}
.footer-container {
  display: flex;
  position: absolute;
  top: 300px;
  justify-content: space-between; 
  width: 98%;
  padding: 20px 10px;
  background-color: #D3D3D330;
}
.footer-container a , .footer-container p {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  font-size: 20px;
  color: #00693e;
  font-weight: 700;
}