
<!-- The Modal -->
<div id="myModal" id="modal delete-modal">
  <!-- Modal content -->
  <div class="modal-content">

    <div class="modal-content-right">

      <div class="modal-header">
        <p>Are you sure to delete post?</p>
        <span id="close">&times;</span>
      </div>

      <div class="modal-body">
     
      </div>

      <div class="modal-footer">
     
      </div>

    </div>
  </div>
</div><!-- END the modal -->