
<!-- The Modal -->
<div id="myModal modal">
  <!-- Modal content -->
  <div class="modal-content">

    <div class="modal-content-right">

      <div class="modal-header">
        <p>Post Detail</p>
        <span id="close">&times;</span>
      </div>

      <div class="modal-body">
          <table style="border: 0;">
            <tr>
              <td>Column 1</td>
              <td>Column 2</td>
            </tr>
          </table>
      </div>

      <div class="modal-footer">
     
      </div>

    </div>
  </div>
</div><!-- END the modal -->