* {
    padding: 0;
    margin: 0;
}
h1 {
   
}
a {
    display: block;
    color:#00d2ff;
    text-decoration: none;
    margin-bottom: 35px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.login-header {
    color: white;
    font-size: 22px;
    padding: 10px;
    background-color: #00693e;

}
.login-header h1{
    font-size: 22px;
}
form {
    margin: 0 auto;
    width: 585px;
    margin-top: 15px;
}
label {
    font-size: 18px;
}
.list-btn {
    display: inline-block;
}
.list-form {
    display: inline;
}
.list-form .list-input {
    width: 208px !important;
    padding: 8px;
    margin-right: 20px;
}
.list-btn-group {
    float: right;
}
.list-form .list-btn {
    padding: 10px 26px;
}
.list-btn:hover {
    text-decoration: none;
}
table {
    width: 100%;
}
.register-form {
    margin: 0 auto;
    width: 800px;
}
.create-form {
    margin-top: 60px;
}
.input-group {
    margin: 10px 0;
}
.errors {
    color: #000;
    padding: 10px;
    background-color: #F1C2C0;
    font-weight: 500;
    border-radius: 4px;
}
.success {
    color: #fff;
    background-color: #5cb85c;
    font-weight: 500;
    border-radius: 4px;
    padding: 10px;
}
a:hover {
    text-decoration: underline;
}
label {
    margin-right: 10px;
}
tr td:first-child {
    text-align: right;
}
table tr {
    margin: 15px 0;
}
tr input {
    width: 350px;
    padding: 10px;
    margin-bottom: 14px;
}
.input-group input {
    width: 411px;
    padding: 10px;
}
.input-group.btn-group {
    margin-left: 0px;
}
.input-group.register-btn-group {
    text-align: left;
}
input[type="checkbox"]{
    width: 20px;
    float: left;
    margin-left: 0px;
}
.forget-password {
    float: right;
    margin-bottom: 9px;
    margin-right: 112px;
}
.login-btn {
    width: 470px;
    background-color: #00693e;
    color: #fff;
    padding: 9px 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 9px;
}
.login-btn:hover {
    background-color: #fff;
    color: #00693e;
    border: 1px solid #00693e;
}
.password-label {
    margin-right: 46px;
}
.register-btn {
    padding: 8px 24px;
    background-color: #3B71CA;
    color: #fff;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
}
.edit-btn {
    padding: 7px 24px;
    background-color: #3B71CA;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    display: inline-block;
    margin-top: 24px;
}
.edit-btn:hover {
    background-color: #fff;
    color: #3B71CA;
    border: 1px solid #3B71CA;
}

.edit-btn:hover, .delete-btn:hover {
    text-decoration: none;

}
.delete-btn {
    padding: 7px 24px;
    background-color: #d9534f;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    display: inline-block;
}
.delete-btn:hover {
    background-color: #fff;
    color: #d9534f;
    border: 1px solid #d9534f;
}
.register-btn:hover {
    color: #3B71CA;
    background-color: #fff;
    border: 1px solid #3B71CA;
}
.clear-btn {
    color: #fff;
    border: 1px solid transparent;
    background-color: #9FA6B2;
    padding: 8px 24px;
    border-radius: 4px;
}
.clear-btn:hover {
    color: #9FA6B2;
    border: 1px solid #9FA6B2;
    background-color: #fff;
}
.login-link {
    font-size: 23px;
    display: inline-block;
    margin-left: 12px
}
.post-table {
    border-collapse: collapse;
   
}
.post-title {
    
    margin: 0;
}
.post-title:hover {
    // text-decoration: none;
}
.post-table tr {
    border-bottom: 1px solid #000;
}
.post-table tr td {
    text-align: center;
}
.post-table thead {
    background-color: #5bc0de;
    height: 52px;
    color: #fff;
    font-weight: 900;
}