<footer>
    <div class="footer-container">
    <a href="http://seattleconsultingmyanmar.com">Seattle Consulting Myanmar</a>
    <p>Copyright &copy; Seattle Consulting Myanmar Co., Ltd. All rights reserved.</p>
    </div>
</footer>