<nav>
  <ul class="left-nav">
    <li><a href="">Bulletin_Board</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/posts">Posts</a></li>
  </ul>
  <ul class="right-nav">
    <li><a href="/users/new">Create User</a></li>
    <li id="dropdown-link"><a href=""><%= User.find(session[:user_id]).name.titleize %></a><i class="fa fa-user setting-icon" aria-hidden="true"></i><%= fa_icon 'caret-down', class: 'fa-solid' %></li>
    <div id="dropdown-menu">
      <a href="/user/profile" class="dropdown-item">Profile</a>
      <a href="/logout" class="dropdown-item">Logout</a>
    </div>
  </ul>
</nav>